# WordPress .gitignore

# Archivos sensibles y temporales
wp-config.php
.htaccess
readme.html
license.txt

# Carpetas que no deberían versionarse
wp-content/ai1wm-backups/
wp-content/upgrade/
wp-content/cache/
wp-content/backups/
wp-content/uploads/backwpup-*/ 

# Ignorar respaldos y archivos pesados
*.wpress
*.sql
*.zip
*.tar.gz
*.log

# Archivos del sistema
.DS_Store
Thumbs.db
*.sublime-project
*.sublime-workspace
.vscode/
.idea/
*.swp
